body {
  color: #333;
  background-color: #fff;
  font-family: “Open Sans”, “Clear Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: 300;
}

/* 出处 */
.noteHeading {
  font-size: 12px;
  color: #999;
  font-weight: 300;
}

/* 章节标题 */
.sectionHeading {
  font-size: 24px;
  font-weight:500;
}

/* 摘抄内容 */
.biaoZhu {
    border-left: 5px solid;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* 评论内容 */
.beiZhu {
  color: #666;
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 50px;
  letter-spacing: .15rem;
}

.beiZhu:before {
    content:"▲";
    padding-right: 5px;
}

/* 评论前的颜色 */
.blue {
  border-color: rgb(178, 205, 251);
}

.orange {
  border-color: #ffd7ae;
}

.pink {
  border-color: rgb(255, 191, 206);
}

.yellow {
  border-color: rgb(247, 206, 0);
}

/* 意义不明的系统设置 */
.notebookGraphic {
  margin-top: 10px;
  text-align: left;
}

.notebookGraphic img {
  -o-box-shadow: 0px 0px 5px #888;
  -icab-box-shadow: 0px 0px 5px #888;
  -khtml-box-shadow: 0px 0px 5px #888;
  -moz-box-shadow: 0px 0px 5px #888;
  -webkit-box-shadow: 0px 0px 5px #888;
  box-shadow: 0px 0px 5px #888;
  max-width: 100%;
  height: auto;
}
